body {
  text-align: center;
  width: 200px;
  height: auto;
}

.center {
  text-align: center;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
  border-radius: 17px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: green;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.options {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 10px;
}

.option {
  display: flex;
  align-items: center;
}

.hidden {
  display: none;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cog, .back {
  cursor: pointer;
  font-size: 24px;
}

.input-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}

.input-group label {
  text-align: left;
  margin-bottom: 5px;
}

.input-with-button {
  display: flex;
  align-items: center;
}

.save-button {
  cursor: pointer;
  font-size: 13px;
  margin-left: 10px;
}